[Desktop Entry]
Type=Application
Name=Quick Download Manager
GenericName=Download Manager
Comment=High-Performance Multi-Connection Download Accelerator & Torrent Client
Exec=qdm %U
Icon=qdm
Terminal=false
StartupNotify=true
StartupWMClass=qdm
Categories=Network;FileTransfer;P2P;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Keywords=download;accelerator;torrent;magnet;qdm;
Actions=NewDownload;

[Desktop Action NewDownload]
Name=Add New Download
Exec=qdm --add-url
